rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Verifica se está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // PASTA: pessoas/{pessoaId}/arquivo
    match /pessoas/{pessoaId}/{fileName} {
      
      // Todos autenticados podem LER fotos de qualquer cadastro
      allow read: if isAuthenticated();
      
      // Todos autenticados podem ENVIAR ou ATUALIZAR fotos
      allow write: if isAuthenticated()
                   &&
                   // Só imagens
                   (
                     request.resource.contentType == "image/jpeg" ||
                     request.resource.contentType == "image/jpg"  ||
                     request.resource.contentType == "image/png"  ||
                     request.resource.contentType == "image/webp"
                   )
                   &&
                   // Máximo 250 KB
                   request.resource.size < 250 * 1024;
    }
    
    // PASTA: album_familia/{pessoaId}/{fotoId}.jpg
    match /album_familia/{pessoaId}/{fileName} {
      
      // Todos autenticados podem LER fotos do álbum
      allow read: if isAuthenticated();
      
      // Todos autenticados podem CRIAR ou ATUALIZAR fotos do álbum
      allow create, update: if isAuthenticated()
                   &&
                   // Só imagens
                   (
                     request.resource.contentType == "image/jpeg" ||
                     request.resource.contentType == "image/jpg"  ||
                     request.resource.contentType == "image/png"  ||
                     request.resource.contentType == "image/webp"
                   )
                   &&
                   // Máximo 500 KB (fotos do álbum podem ser um pouco maiores)
                   request.resource.size < 500 * 1024;
      
      // Todos autenticados podem DELETAR fotos do álbum
      allow delete: if isAuthenticated();
    }
  }
}

